README.Debian
README.source
docs
files
init.d.ex
jgmenu-doc.docs
jgmenu-doc.install
jgmenu.cron.d.ex
jgmenu.debhelper.log
jgmenu.default.ex
jgmenu.doc-base.EX
jgmenu.postinst.debhelper
jgmenu.prerm.debhelper
jgmenu.substvars
manpage.1.ex
manpage.sgml.ex
manpage.xml.ex
menu.ex
package-doc.docs
package-doc.install
package.cron.d.ex
package.default.ex
package.doc-base.EX
postinst.ex
postrm.ex
preinst.ex
prerm.ex
rules.dh7
watch.ex
