Source: jgmenu
Maintainer: Johan Malm <jgm323@gmail.com>
Section: x11
Priority: optional
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 10),
               libx11-dev,
               libxrandr-dev,
               libcairo2-dev,
               libpango1.0-dev,
               librsvg2-dev,
               libxml2-dev,
               libglib2.0-dev,
               libmenu-cache-dev,
               pkg-config,
               libgtk-3-dev,
               xfce4-panel-dev

Package: jgmenu
Architecture: any
Depends: libx11-6,
         libxrandr2,
         libcairo2,
         libpango-1.0-0,
         librsvg2-2,
         libxml2,
         libglib2.0-0,
         libmenu-cache3,
         python3
Suggests: lxmenu-data
Description: Simple X11 menu
 A stand-alone, contemporary-looking menu application for Linux and BSD.
 Independent of window manager and panel.
 Designed for customisation, scripting, ricing and tweaking
