
#stay_alive          = 1
#hide_on_startup     = 0
#csv_cmd             = pmenu
tint2_look          = 0
#at_pointer          = 0
#terminal_exec       = x-terminal-emulator
#terminal_args       = -e
#monitor             = 0

#menu_margin_x       = 0
#menu_margin_y       = 32
#menu_width          = 200
menu_padding_top    = 40
menu_padding_right  = 10
menu_padding_bottom = 10
menu_padding_left   = 10
#menu_radius         = 1
#menu_border         = 0
#menu_halign         = left
#menu_valign         = bottom

#sub_spacing         = 1
sub_padding_top     = 10
#sub_padding_right   = -1
#sub_padding_bottom  = -1
#sub_padding_left    = -1
#sub_hover_action    = 1

#item_margin_x       = 3
#item_margin_y       = 3
#item_height         = 25
#item_padding_x      = 4
#item_radius         = 1
#item_border         = 0
#item_halign         = left

#sep_height          = 5

font		    = Roboto Condensed 9
#font_fallback       = xtg
#icon_size	    = 22
#icon_text_spacing   = 10
#icon_theme	    =
#icon_theme_fallback = xtg

#arrow_string        = ▸
#arrow_width         = 15

color_menu_bg       = #cecece 90
#color_menu_fg       = #eeeeee 20
color_menu_border   = #888888 100

#color_norm_bg       = #000000 00
color_norm_fg       = #444444 100

color_sel_bg        = #e6e6e6 100
color_sel_fg        = #444444 100
#color_sel_border    = #eeeeee 8

#color_sep_fg        = #ffffff 20

#csv_name_format     = %n (%g)
